*
# except
!.gitignore
!pyproject.toml
!README.md
!__init__.py
# app
!app/
!app/config.py
!app/extensions.py
# blueprints
!app/blueprints
# blueprints api
!app/blueprints/api
!app/blueprints/api/__init__.py
!app/blueprints/api/routes.py
# blueprints public
!app/blueprints/public
!app/blueprints/public/__init__.py
!app/blueprints/public/routes.py
!app/blueprints/ear
!app/blueprints/ear/__init__.py
!app/blueprints/ear/routes.py
# ear backend
!app/ear
!app/ear/__init__.py
!app/ear/engine.py
# templates
!app/templates
!app/templates/*
# templates sections
!app/templates/sections/
!app/templates/sections/*
# static
!app/static
# static css
!app/static/css
!app/static/css/*
!app/static/css/pages
!app/static/css/pages/*
# static vendor
!app/static/vendor
!app/static/vendor/glightbox
!app/static/vendor/glightbox/*
# static js
!/app/static/js
!/app/static/js/*
# static game
!app/static/game
# static images
!app/static/img
!app/static/img/*
!app/static/img/projects
!app/static/img/projects/*
# files
!app/static/files
!app/static/files/*
# ear data
!ear_data
!ear_data/.gitignore
!ear_data/README.md
