<section id="home" class="hero">
  <div class="hero__content glassy hero__content--left">
    <h1>Jeremy Zay</h1>
    <p>
      {{ site_settings.home_description | safe }}
    </p>
    <a class="btn glassy" data-no-fluid="true" href="{{ url_for('public.resume') }}" target="_blank"
      rel="noopener">Resume</a><br>
    <a class="btn glassy" data-no-fluid="true" href="#contact" target="_blank" rel="noopener">Contact</a>
  </div>

  <!-- <div class="hero__visual">
    <div class="squircle-box ambient-fluid" data-no-fluid="true" data-fluid-drag="true" data-high-fidelity="true"
      data-transparent="false" data-bg-color="{{ site_settings.theme.squircle_bg_color | default('#111111') }}">
    </div>
  </div> -->
</section>